[data-section] {
	padding-bottom: 2em !important;
}


.btn-group>.btn,
.btn:hover {
	border: 1px solid #333;
	color: #333;
}


/* Popover  */
.popover {
	--bs-popover-max-width: 200px;
	--bs-popover-body-padding-x: 0em !important;
	--bs-popover-body-padding-y: 0em !important;
	--bs-popover-bg: #333 !important;
}

.popover-arrow {
	visibility: hidden;
}


.popover-btn {
	width: 1em;
	height: 1em;
}

.highlight{
	background-color: #e9a9f2 !important;
	color: #333 !important;
}

.btn{
	background-color: #e9a9f2 !important;
}

.character{
	font-weight: bold;
}